.tag {
    background: linear-gradient(149deg, rgb(20, 114, 255) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 9s linear infinite;
    background-size: 400%;
    margin: 3px 5px 0 0; 
    padding: 2.5px 7px;
    border-radius: 13px; 
    color: #fff;
    font-size: 12px;
    box-shadow: 0 1px 5px 0.1px rgba(49, 49, 49, 0.301);
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}