* {
    user-select: none;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(40deg, #2c77be, #2cbeb2);
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.SimpleCell, .Card, .Banner, .Button {
    border-radius: 10px;
}